<h2>Cart</h2>

<%= link_to "Checkout", new_order_path %>

<% @items.each do |item,quantity| %>
<div id="id-<%= item.id %>" class="cart_items">
  <h4>Item: <%= link_to item.name, "/items/#{item.id}" %></h4>
  <p><%= image_tag item.image %></p>
  <p>Merchant: <%= item.merchant.name %></p>
  <p>Price: <%= item.price %></p>
  <p>Subtotal: <%= item.price * quantity %></p>
  <% if quantity > item.inventory %>
    <p>Sorry, we're out of this item!</p>
  <% else %>
    <%= button_to "Add 1 item", "/cart/#{item.id}", method: :patch %>
    <p>Item Count: <%= quantity %></p>
  <% end %>
  <%= button_to "Remove from Cart", "/cart/#{item.id}", method: :delete %>
  <%= button_to "Remove 1 item", "/cart/#{item.id}", method: :delete %>
<% end %>

<p>Total: <%= cart.total %></p>

<% if @items.empty? %>
  <p>There are no items in your cart!</p>
<% else %>
  <%= button_to "Empty Cart", '/cart', method: :delete %>
<% end %>
