<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
<p>Price: <%= number_to_currency(@item.price) %></p>
<p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %>, Inventory: <%= @item.inventory %></p>
<p><%= @item.active ? "Active" : "Inactive" %></p>

<% @item.reviews.each do |review| %>
  <h4>Review</h4>
  <p>Title: <%= review.title %></p>
  <p>Body: <%= review.content %></p>
  <p>Rating: <%= review.rating %></p>
  <%= link_to "Edit Review", "/reviews/#{review.id}/edit" %>
  <section id="#review-<%= review.id %>"><%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></section>
<% end %>

<div class="topreviews">
  <% @item.top_3_reviews.each do |review| %>
    <%= review.title %>
    <%= review.rating %>
  <% end %>
</div>

<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'New Review', "/items/#{@item.id}/reviews/new" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
<%= button_to "Add to Cart", "/cart/#{@item.id}" %>
